<body style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 16px; color: #333; background-color: #f4f4f4; padding: 20px; text-align: left;">
<div style="max-width: 600px; margin: auto; background-color: #fff; padding: 20px; border: 1px solid #ddd; border-radius: 5px;">
  <h2 style="color: #2c3e50; text-align: center;">Page {{ operation|capitalize }} Notification</h2>
  <div style="font-size: 16px; color: #333; line-height: 1.5; margin-bottom: 20px;">
    <p>The page "<strong>{{ node_title }}</strong>" has been {{ operation }} by {{ user_name }} (Email: <a href="mailto:{{ user_email }}" style="color: #3498db; text-decoration: none;">{{ user_email }}</a>).</p>
    <p>You can view the page at the following link:</p>
    <p><a href="{{ node_url }}" style="background-color: #3498db; color: #fff; padding: 10px 15px; text-decoration: none; border-radius: 3px;">View Page</a><br /><br />Thanks,</p>
  </div>
</div>
</body>
